<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SiteSqlServer" connectionString="server=UBC-BB-DVDB16.DEV.UBCPSC.COM;database=Jazz_Xyrem_Phase3URD;integrated security=sspi;pooling=true" providerName="System.Data.SqlClient" />-->
    <add name="SiteSqlServer" connectionString="server=CH3DW601889;database=Jazz_Xyrem_Phase3URD;integrated security=sspi;pooling=true" providerName="System.Data.SqlClient"/>
    <!--<add name="SiteSqlServer" connectionString="server=UBC-mt-trdb13.ubcmain.COM;database=Jazz_Xyrem;integrated security=sspi;pooling=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SiteSqlServer" connectionString="server=UBC-mt-db13.ubcmain.COM;database=Jazz_Xyrem;integrated security=sspi;pooling=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <!-- Test and Training -->
    <add key="FaxServiceClientId" value="JAZZ_XYREM_TEST"/>
    <!-- Production -->
    <!--<add key="FaxServiceClientId" value="JAZZ_XYREM_PROD"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFaxService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://faxgatewaytv.ubcmain.com/service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFaxService" contract="FaxGateway.IFaxService" name="BasicHttpBinding_IFaxService"/>
      <!--<endpoint address="http://faxgateway.ubcmain.com/service" binding="basicHttpBinding"
             bindingConfiguration="BasicHttpBinding_IFaxService" contract="FaxGateway.IFaxService"
             name="BasicHttpBinding_IFaxService" />-->
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
